<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.leezp.learncarproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_image_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_image_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomePagerActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.UserLoginActivity" />
        <activity android:name=".activity.UserRegisterActivity" />
        <activity android:name=".activity.PersonalMenuActivity" />
        <activity android:name=".activity.PersonalInformationActivity" />
        <activity android:name=".activity.PublishOrderActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.leezp.learncarproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".background.HomePagerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".background.PublishOrderService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>